---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Main">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="200"
      height="300"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi magnam
        repellendus ratione laboriosam nihil ab, fugit similique asperiores quo
        blanditiis facilis nobis vitae quis expedita dolorum cum exercitationem
        inventore incidunt doloremque excepturi error delectus. Libero aliquam
        provident sapiente quam voluptatum.
      </p>
      <Link
        href="mailto:igrimanigroman@gmail.com"
        style="primary"
        text="Contact me"
      />
    </div>
  </section>
</MainLayout>
